.highlight-bg {
  background: #dc3545;
}
h1 {
  font-weight: 100;
  font-size: 3.5rem;
}
nav a i {
  font-size: 2em;
}
.jumbotron {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #dc3545;
}
.jumbotron .card {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  color: white;
}
.jumbotron .card .card-header {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}
.jumbotron .card .card-footer {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}
.btn {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.modal .btn {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.btn-lg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pills-color {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
